* {
    text-align: center;
}

h1 {
    font-family: Verdana;
    color: white;
    font-size: 50px;
    font-weight: normal;
}

a {
    font-family: Verdana;
    color: aquamarine;
    font-size: 16px;
}